<ion-header>
  <ion-toolbar>
    <ion-icon name="mail-outline" slot="start" padding></ion-icon>
    <ion-title>Sign up with your Gmail Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <ion-card>
    <!--<ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>-->
  
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-icon> 
              </ion-icon>
                <ion-label>Email</ion-label>
                  <ion-input type="email" aria-placeholder="email@gmail.com"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-icon> 
              </ion-icon>
              <ion-label>Password</ion-label>
              <ion-input type="password"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item lines="none">
              <ion-icon> 
              </ion-icon> 
                <ion-button shape="round" color="primary" type="submit" (click)="onSignUp()" >Sign in</ion-button>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>





 
  

</ion-content>
