<ion-header>
  <ion-toolbar>
      <!--<ion-menu-button menuId="haveAccount" slot="start"></ion-menu-button>-->
        <ion-menu-button  contentid="haveAccount" slot="start"></ion-menu-button>
       <!-- <ion-menu-button  contentid="noAccount" slot="start"></ion-menu-button>-->
    <ion-title class="ion-text-center" ><h2>Search Park Spot</h2></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
 <app-map-modal></app-map-modal>  <!-- This is what i need to activate to have map in background 
<app-location-picker></app-location-picker>-->
</ion-content>