<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/start"></ion-back-button>
    </ion-buttons>
    <ion-title>Share</ion-title>
  </ion-toolbar>
</ion-header>
 <!--<img src="http://png-2.findicons.com/files/icons/573/must_have/48/mail.png">-->
<ion-content>
<ion-grid>
      <ion-row>
        <ion-col>
          <!--https://maps.googleapis.com/maps/api/geocode/json?latlng=${lat},${lng}&key=-->
          <!--https://www.google.com/maps/place/-25.755648,28.239462-->
          <a style="text-decoration: none;">
          <ion-item lines="none" (click)="currentCoordinates()">
              <ion-icon name="location-outline" slot="start"></ion-icon>
              <ion-label>Share location</ion-label>
            </ion-item>
           </a>  
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <a style="text-decoration: none;">
            <ion-item lines="none" (click)="landmarkLocation($event)"  >
              <ion-icon name="pin-outline" slot="start"></ion-icon>
              <ion-label>Share Landmark</ion-label>
            </ion-item>
            </a>   
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <a style="text-decoration: none;">
            <ion-item lines="none" (click)="eventLocation()" >
              <ion-icon name="aperture-outline" slot="start"></ion-icon>
              <ion-label>Share Event location</ion-label>
            </ion-item>
            </a>   
        </ion-col>
      </ion-row>
    </ion-grid>
   
</ion-content>