<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/start"></ion-back-button>
    </ion-buttons>
    <ion-title>Share</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <ion-icon name="location-outline" slot="start"></ion-icon>
            <ion-label>Share location</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <ion-icon name="pin-outline" slot="start"></ion-icon>
            <ion-label>Share Landmark</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <ion-icon name="aperture-outline" slot="start"></ion-icon>
            <ion-label>Share Events Nearby</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
   
</ion-content>
