<ion-app>
  <ion-menu side="start" menuId="m1" content="main" disabled="true">
    <ion-header>
      <ion-toolbar>
        <ion-title>ParkSpot</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle  menu="m1" >
        <ion-item lines="none" (click)="locateLandmark()">
          <ion-icon name="pin" slot="start"></ion-icon>
          <ion-label>Create Landmark</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle menu="m1">
        <ion-item lines="none"  (click)="displayEvents()">
          <ion-icon name="aperture-outline" slot="start"></ion-icon>
          <ion-label>Nearby Events</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle  menu="m1">
        <ion-item lines="none" routerLink="/share" >
          <ion-icon name="share-social-outline" slot="start"></ion-icon>
          <ion-label>Share Location</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle  menu="m1">
        <ion-item lines="none" routerLink="/my-account">
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-label>My Account</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle  menu="m1">
        <ion-item lines="none" routerLink="/home">
          <ion-icon name="exit-outline" slot="start"></ion-icon>
          <ion-label>Signout</ion-label>
        </ion-item>
      </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-menu  side="start" menuId="m2" content="main" disabled="false">
    <ion-header>
      <ion-toolbar>
        <ion-title>ParkSpot</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
        <ion-item lines="none" (click)="locateLandmark()">
          <ion-icon name="pin" slot="start"></ion-icon>
          <ion-label>Create Landmark</ion-label>
        </ion-item>
      </ion-menu-toggle>
        <ion-menu-toggle menuId="m2">
        <ion-item lines="none" routerLink="/auth">
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-label>Create Account?</ion-label>
        </ion-item>
      </ion-menu-toggle>
        <ion-grid>
          <ion-menu-toggle menuId="m2">
          <ion-row>
            <ion-col>
              <ion-item (click)="setting()">
                <ion-icon name="settings-outline"></ion-icon>
                <ion-label>Settings</ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-menu-toggle>
        </ion-grid>
      </ion-list>
    </ion-content>
  </ion-menu>
  
  <ion-router-outlet main></ion-router-outlet>
</ion-app>


