<ion-app>
  <ion-menu side="start" menuId="m1">
    <ion-header>
      <ion-toolbar>
        <ion-title>ParkSpot</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle menu="m1">
        <ion-item lines="none">
          <ion-icon name="pin" slot="start"></ion-icon>
          <ion-label>Create Landmark</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item lines="none">
          <ion-icon name="pin" slot="start"></ion-icon>
          <ion-label>Delete Landmark</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item lines="none" routerLink="/share" >
          <ion-icon name="share-social-outline" slot="start"></ion-icon>
          <ion-label>Share Location</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item lines="none" routerLink="/my-account">
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-label>My Account</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item lines="none" button (click)="displayEvents()">
          <ion-icon name="aperture-outline" slot="start"></ion-icon>
          <ion-label>Events</ion-label>
          <!--<ion-fab  horizontal="start"  id="tutorial" >
            <ion-fab-button >Restaurant</ion-fab-button>
            <ion-fab-button >Drive-in</ion-fab-button>
            <ion-fab-button >Gas Station</ion-fab-button>
            <ion-fab-button >Car Wash</ion-fab-button>
            <ion-fab-button >ATMs</ion-fab-button>
        </ion-fab>-->
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item lines="none" routerLink="/auth">
          <ion-icon name="exit-outline" slot="start"></ion-icon>
          <ion-label>Signout</ion-label>
        </ion-item>
      </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <!--<ion-menu side="start" menuId="m2">
    <ion-header>
      <ion-toolbar>
        <ion-title>ParkSpot</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-item lines="none">
          <ion-icon name="pin" slot="start"></ion-icon>
          <ion-label>Create Landmark</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="pin" slot="start"></ion-icon>
          <ion-label>Delete Landmark</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-label>Create Account?</ion-label>
        </ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-icon name="settings-outline"></ion-icon>
                <ion-label>Settings</ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>
    </ion-content>
  </ion-menu>-->
  <ion-router-outlet main></ion-router-outlet>
</ion-app>


